header { background-image: url('logo.png')}
body {background-color: #ffffff;}
h1 {color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 160%;}
h2 {color: #5378ef}
li {display: inline-block;
padding: 1rem;}
li a{text-decoration: none;}
ul {text-align: center;}
.about {background-color: rgb(231, 220, 240);
padding: 20px 0;}
.skills{background-color: aliceblue;
padding: 20px 0;}
.projects {background-color: rgb(240, 255, 243);
padding: 20px 0;}
footer {background-color: rgb(221, 223, 223);
   display: flex;
   justify-content: center;
   gap: 20px;}
html {
  scroll-behavior: smooth;
}
body {
  margin: 20px;
}